*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1e1b4b,#312e81,#7c3aed);
overflow:hidden;
position:relative;
}

body::before{
content:"";
position:absolute;
width:350px;
height:350px;
background:#ec4899;
border-radius:50%;
top:-120px;
left:-120px;
filter:blur(120px);
opacity:.7;
}

body::after{
content:"";
position:absolute;
width:350px;
height:350px;
background:#06b6d4;
border-radius:50%;
bottom:-120px;
right:-120px;
filter:blur(120px);
opacity:.7;
}

.box{
width:390px;
padding:40px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.15);
border-radius:25px;
box-shadow:0 20px 40px rgba(0,0,0,.35);
text-align:center;
z-index:2;
animation:up .8s ease;
}

@keyframes up{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

h1{
color:white;
font-size:34px;
margin-bottom:10px;
}

.tag{
color:#e5e7eb;
font-size:15px;
line-height:24px;
margin-bottom:28px;
}

input{
width:100%;
padding:15px;
margin:12px 0;
border:none;
outline:none;
border-radius:12px;
background:rgba(255,255,255,.15);
color:white;
font-size:15px;
transition:.3s;
}

input:focus{
background:rgba(255,255,255,.22);
transform:scale(1.02);
}

input::placeholder{
color:#ddd;
}

button{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:12px;
background:linear-gradient(45deg,#8b5cf6,#ec4899);
color:white;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-3px);
box-shadow:0 12px 25px rgba(139,92,246,.45);
}

.acc{
margin-top:22px;
color:white;
}

a{
color:#67e8f9;
font-weight:600;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}